<div class="home">
  <div class="">

    <ngb-carousel>
      <ng-template ngbSlide>
       <img src="assets/img/amazon2.jpg" alt="sorry amazon">
      </ng-template>
      <ng-template ngbSlide>
      <img src="assets/img/amazon1.jpg" alt="for taking">
      </ng-template>
      <ng-template ngbSlide>
      <img src="assets/img/amazon3.jpg" alt="your slide">  
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/amazon4.jpg" alt="photos">     
        </ng-template>
    </ngb-carousel>

  </div>
</div>