.name {
  font-size: 1.8rem;
}

.j-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.seller-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.lead,
.info {
  text-align: center;
}

.info {
  margin-top: 4rem;
}
